/* home.module.css */

/* Container for the homepage */
.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #f8f8f8;
  }
  
  /* Button styling */
  .createPostButton {
    margin-bottom: 20px; /* Space between the button and posts list */
  }
  
  .button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    transition: background-color 0.3s ease-in-out;
  }
  
  .button:hover {
    background-color: #0056b3;
  }
  
  /* Styling for the list of posts */
  .postsList {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 20px;
  }
  
  /* Post Card Styles */
  .postCard {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: transform 0.3s ease-in-out;
  }
  
  .postCard:hover {
    transform: translateY(-5px);
  }
  
  .postTitle {
    font-size: 1rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
  }
  
  .postSlug {
    font-size: 1.2rem;
    color: #777;
    font-style: italic;
    margin-bottom: 15px;
  }
  
  .postContent {
    font-size: 1rem;
    color: #555;
    line-height: 1.6;
    margin-bottom: 15px;
  }
  
  .readMoreLink {
    color: #007bff;
    font-weight: bold;
    text-decoration: none;
  }
  
  .readMoreLink:hover {
    text-decoration: underline;
  }
  
  @media (max-width: 768px) {
    .container {
      width: 95%;
    }
  
    .postTitle {
      font-size: 1.6rem;
    }
  
    .postSlug {
      font-size: 1rem;
    }
  
    .postContent {
      font-size: 0.9rem;
    }
  }
  
  /* posts.module.css */

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  position: relative;
  background-color: white;
  padding: 20px;
  max-width: 800px;
  max-height: 90vh;
  overflow-y: auto;
  border-radius: 8px;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: red;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 18px;
}

.videoButton {
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.videoButton:hover {
  background-color: #45a049;
}
